rest-csob-bpm/src/main/webapp/WEB-INF/wsdl/GetClientListV2/GetClientListReq.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by ServiceGenerator_v0.5.3
  Datetime: 24.07.2015
  User: Jan Vyhnanek(jvyhnanek@csob.cz)--><xsd:schema targetNamespace="http://www.csob.cz/distribution/ClientIdentification/getClientList/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tns="http://www.csob.cz/distribution/ClientIdentification/getClientList/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:coreCommon="http://www.csob.cz/common/core">
  <xsd:annotation>
    <xsd:documentation>Purchase order schema for Example.com.
Copyright 2000 Example.com. All rights reserved.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.csob.cz/common/core" schemaLocation="CommonSimple.xsd"/>
  <xsd:element name="GetClientListReq">
    <xsd:annotation>
      <xsd:documentation>Get client. PRC_GET_CLIENT
---
Backend: CMD
Element path: /GetClientReq_v2
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}GetClientDataReq_v2</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Requestset">
                <xsd:annotation>
                  <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Request" minOccurs="1" maxOccurs="500">
                      <xsd:annotation>
                        <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PageNumber" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Paging of results. Which number of page should be returned. For A3S use 1 or empty.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PAGE_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="RowsPerPage" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Paging of results. How many records can be in one page. For A3S use 1 or empty.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/ROWS_PER_PAGE
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MaxResultCount" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Number of records that can be returned: 1 - default When more than specified records found, application error 600 is raised. For A3S use 1.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/MAX_RESULT_COUNT
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="OrgUnitId" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Organizational unit which created/modified. CST_0336.DATAID
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/ORG_UNIT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}ORG_UNIT_ID</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="State" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Natural person: nationality - legal entity: state place of business. NOT NULL, FK (CST_CMDB.CST_0002_UQ.DATAID)
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/STATE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}STATE</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="GiveNumOfProduct" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>If value is A, than ELEMENT NUMBER_OF_BRANCH_PRODUCTS in response contain number of product, else is 0.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_NUM_OF_PRODUCT
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="A"/>
                                <xsd:enumeration value="N"/>
                                <xsd:maxLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:sequence>
                            <xsd:element name="GiveClientInstances" minOccurs="0" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation>If value is A, than ELEMENT  CLI_INSTANCE_ROW in response is returned(if data found).
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_CLIENT_INSTANCES
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="A"/>
                                  <xsd:enumeration value="N"/>
                                  <xsd:maxLength value="1"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="BankSystemFilter" minOccurs="0" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation>make sense if give_cllient_instances = A
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/BANK_SYSTEM_FILTER
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}BANK_SYSTEM_TYPE</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="BankSystem" minOccurs="1" maxOccurs="unbounded">
                                    <xsd:annotation>
                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/BANK_SYSTEM_FILTER/BANK_SYSTEM
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}BANK_SYSTEM</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:integer">
                                        <xsd:totalDigits value="38"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                          <xsd:element name="SequenceNumber" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Pro parovani request/response
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/SEQUENCE_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:choice>
                            <xsd:annotation>
                              <xsd:documentation>Allowed combinations: A/ PERSON(FO) - TYPE_OF_PARTY = 1 1. NAME and SURNAME  2. NAME and SURNAME and DATE_OF_BIRTH 4. NAME and SURNAME and FICT_BIRTH_NUMBER(RC) 3. FICT_BIRTH_NUMBER(RC) 4. NAME and SURNAME and DATE_OF_BIRTH and FICT_BIRTH_NUMBER(RC) 5. NAME and SURNAME and DATE_OF_BIRTH and STATE_PLACE_OF_BIRTH and SEX and BIRTH_SURNAME B/ COMPANY (PO) - TYPE_OF_PARTY = 2  1. NAME_OF_COMPANY_LONG 2. NAME_OF_COMPANY_LONG and FICT_ID_NUMBER (ICO/ZECO) 3. FICT_ID_NUMBER (ICO/ZECO) C/ PRODUCT 1. CLIENT_NUMBER(e.g. CIF) and BANK_SYSTEM_LIST 2. PRODUCT_NUMBER and BANK_SYSTEM_LIST 3. CLIENT_NUMBER and PRODUCT_NUMBER and BANK_SYSTEM_LIST</xsd:documentation>
                            </xsd:annotation>
                            <xsd:sequence>
                              <xsd:element name="Product">
                                <xsd:annotation>
                                  <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PRODUCT
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="ProductNumber">
                                      <xsd:annotation>
                                        <xsd:documentation>Number of product, e.g. Account number. NOT NULL
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PRODUCT/PRODUCT_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PRODUCT_V1}PRODUCT_NUMBER</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="BankSystemList" minOccurs="0" maxOccurs="1">
                                      <xsd:annotation>
                                        <xsd:documentation>Identification of bank system, NOT NULL, FK (CST_CMDB.CST_BANK_SYSTEM.DATAID)
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PRODUCT/BANK_SYSTEM_LIST
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}BANK_SYSTEM_TYPE</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="BankSystem" minOccurs="1" maxOccurs="unbounded">
                                            <xsd:annotation>
                                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PRODUCT/BANK_SYSTEM_LIST/BANK_SYSTEM
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}BANK_SYSTEM</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:integer">
                                                <xsd:totalDigits value="38"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                            <xsd:sequence>
                              <xsd:element name="Client">
                                <xsd:annotation>
                                  <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/CLIENT
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="ClientNumber">
                                      <xsd:annotation>
                                        <xsd:documentation>Client number in BE system.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/CLIENT/CLIENT_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}CLIENT_NUMBER</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="40"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="ProductNumber" minOccurs="0" maxOccurs="1">
                                      <xsd:annotation>
                                        <xsd:documentation>Number of product, e.g. Account number. NOT NULL
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/CLIENT/PRODUCT_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PRODUCT_V1}PRODUCT_NUMBER</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="20"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="BankSystemList">
                                      <xsd:annotation>
                                        <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/CLIENT/BANK_SYSTEM_LIST
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}BANK_SYSTEM_TYPE</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="BankSystem" minOccurs="1" maxOccurs="unbounded">
                                            <xsd:annotation>
                                              <xsd:documentation>Identification of bank system, NOT NULL, FK (CST_CMDB.CST_BANK_SYSTEM.DATAID)
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/CLIENT/BANK_SYSTEM_LIST/BANK_SYSTEM
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}BANK_SYSTEM</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:integer">
                                                <xsd:totalDigits value="38"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="Brand" minOccurs="0" maxOccurs="1">
                                      <xsd:annotation>
                                        <xsd:documentation>Whose is product (on business) , FK (CST_CMDB.CST_0229_UQ.DATAID)
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/CLIENT/BRAND
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PRODUCT_V1}BRAND</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:integer">
                                          <xsd:totalDigits value="38"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                            <xsd:element name="Person">
                              <xsd:annotation>
                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:choice>
                                  <xsd:sequence>
                                    <xsd:element name="PersonInfo">
                                      <xsd:annotation>
                                        <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="Name">
                                            <xsd:annotation>
                                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/NAME
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}NAME</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="40"/>
                                                <xsd:minLength value="2"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="Surname">
                                            <xsd:annotation>
                                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/SURNAME
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}SURNAME</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="40"/>
                                                <xsd:minLength value="2"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                              <xsd:documentation>Date of commencement ( natural person: date of birth , legal entity: date of registration)
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/DATE_OF_BIRTH
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}DATE_OF_BIRTH</xsd:documentation>
                                            </xsd:annotation>
                                          </xsd:element>
                                          <xsd:element name="FictBirthNumber" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                              <xsd:documentation>CR and SR national: birth number, foreigner without assigned birht number :
        empty (it can be duplicity for RC+STATE in this column]
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/FICT_BIRTH_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}FICT_BIRTH_NUMBER</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="10"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="StatePlaceOfBirth" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                              <xsd:documentation>State of birth
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/STATE_PLACE_OF_BIRTH
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}STATE_PLACE_OF_BIRTH</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:integer">
                                                <xsd:totalDigits value="38"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="Sex" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                              <xsd:documentation>Person's sex. FK (CST_CMDB.CST_0025_UQ.DATAID)
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/SEX
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}SEX</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:integer">
                                                <xsd:totalDigits value="38"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="BirthSurname" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/PERSON_INFO/BIRTH_SURNAME
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}BIRTH_SURNAME</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                              <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="40"/>
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                  <xsd:sequence>
                                    <xsd:element name="FictBirthNumber">
                                      <xsd:annotation>
                                        <xsd:documentation>CR and SR national: birth number, foreigner without assigned birht number :
        empty (it can be duplicity for RC+STATE in this column]
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/PERSON/FICT_BIRTH_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}FICT_BIRTH_NUMBER</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="10"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:choice>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Company">
                              <xsd:annotation>
                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/COMPANY
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:choice>
                                  <xsd:sequence>
                                    <xsd:element name="FictIdNumber">
                                      <xsd:annotation>
                                        <xsd:documentation>Registration number organization - IC
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/COMPANY/FICT_ID_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}FICT_ID_NUMBER</xsd:documentation>
                                      </xsd:annotation>
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="10"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                  <xsd:element name="CompanyInfo">
                                    <xsd:annotation>
                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/COMPANY/COMPANY_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientReq_v2}Local complex type</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="NameOfCompanyLong">
                                          <xsd:annotation>
                                            <xsd:documentation>Name of company - long, NOT NULL
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/COMPANY/COMPANY_INFO/NAME_OF_COMPANY_LONG
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}NAME_OF_COMPANY_LONG</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                              <xsd:maxLength value="40"/>
                                              <xsd:minLength value="2"/>
                                            </xsd:restriction>
                                          </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="FictIdNumber" minOccurs="0" maxOccurs="1">
                                          <xsd:annotation>
                                            <xsd:documentation>Registration number organization - IC
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/COMPANY/COMPANY_INFO/FICT_ID_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}FICT_ID_NUMBER</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                              <xsd:maxLength value="10"/>
                                            </xsd:restriction>
                                          </xsd:simpleType>
                                        </xsd:element>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:choice>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:sequence>
                              <xsd:element name="IdCmdPartyPk">
                                <xsd:annotation>
                                  <xsd:documentation>Party CUID. Primary key.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/ID_CMD_PARTY_PK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}ID_CMD_PARTY_PK</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:integer">
                                    <xsd:totalDigits value="38"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                            <xsd:sequence>
                              <xsd:element name="Swift">
                                <xsd:annotation>
                                  <xsd:documentation>SWIFT kod - Society for Worldwide Interbank Financial Telecommunication
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/SWIFT
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}SWIFT</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="11"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:choice>
                          <xsd:element name="GivePalapInfo" minOccurs="0" maxOccurs="1" type="coreCommon:Boolean01Type">
                            <xsd:annotation>
                              <xsd:documentation>Element is for make decisions whether response contains element PALAP_INFO. Element value is "A" - response contains element PALAP_INFO. Element is not contained or value is "N" - response doesn't contain element PALAP_INFO.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_PALAP_INFO
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="GiveAccountsInfo" minOccurs="0" maxOccurs="1" type="coreCommon:Boolean01Type">
                            <xsd:annotation>
                              <xsd:documentation>Element is for make decisions whether response contains element ACCOUNTS_INFO (in element PERSON and COMPANY). Element value is "A" - response contains element ACCOUNTS_INFO. Element is not contained or value is "N" - response doesn't contain element ACCOUNTS_INFO.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_ACCOUNTS_INFO
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="GiveFatcaInfo" minOccurs="0" maxOccurs="1" type="coreCommon:Boolean01Type">
                            <xsd:annotation>
                              <xsd:documentation>Element decides that FATC Info will be contained in the response. The FATCA Info consists of elements FATCA_PROCESS_STATUS and FATCA_LABEL.Value A = response contains info; Value  N = response does not contain info.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_FATCA_INFO
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="GiveEmployeesInfo" minOccurs="0" maxOccurs="1" type="coreCommon:Boolean01Type">
                            <xsd:annotation>
                              <xsd:documentation>Element decides that EMPLOYEES will be contained in the response. Value A = response contains info; Value  N = response does not contain info.
---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_EMPLOYEES_INFO
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="GivePepInfo" minOccurs="0" maxOccurs="1" type="coreCommon:Boolean01Type">
                            <xsd:annotation>
                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientReq_v2/Data/REQUESTSET/REQUEST/GIVE_PEP_INFO
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>