rest-csob-bpm/src/main/webapp/WEB-INF/wsdl/GetClientListV2/GetClientListRes.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by ServiceGenerator_v0.5.3
  Datetime: 24.07.2015
  User: Jan Vyhnanek(jvyhnanek@csob.cz)--><xsd:schema targetNamespace="http://www.csob.cz/distribution/ClientIdentification/getClientList/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tns="http://www.csob.cz/distribution/ClientIdentification/getClientList/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Purchase order schema for Example.com.
Copyright 2000 Example.com. All rights reserved.</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="GetClientListRes">
    <xsd:annotation>
      <xsd:documentation>Response for GetClientReq_v1
---
Backend: CMD
Element path: /GetClientRes_v2
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}GetClientDataRes_v2</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Resultset">
                <xsd:annotation>
                  <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Result" minOccurs="1" maxOccurs="500">
                      <xsd:annotation>
                        <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SequenceNumber" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>Pro parovani request/response
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/SEQUENCE_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="CurrentCount" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/CURRENT_COUNT
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="ResultsetCount" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/RESULTSET_COUNT
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:integer">
                                <xsd:totalDigits value="38"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="Person" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="PersonRow" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:annotation>
                                    <xsd:documentation>Depend on value of MAX_RESULT_COUNT in request.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}PERSON</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="IdCmdPartyPk">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/ID_CMD_PARTY_PK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}ID_CMD_PARTY_PK</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="TypeOfParty">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/TYPE_OF_PARTY
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}TYPE_OF_PARTY</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="FullRegistration">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/FULL_REGISTRATION
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}FULL_REGISTRATION</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="StateNational" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/STATE_NATIONAL
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}STATE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Name">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/NAME
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}NAME</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="40"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Surname">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/SURNAME
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}SURNAME</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="40"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Sex" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/SEX
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}SEX</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="TitleBefore" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/TITLE_BEFORE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}TITLE_BEFORE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="TitleBehind" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/TITLE_BEHIND
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}TITLE_BEHIND</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/DATE_OF_BIRTH
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}DATE_OF_BIRTH</xsd:documentation>
                                        </xsd:annotation>
                                      </xsd:element>
                                      <xsd:element name="FictBirthNumber" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/FICT_BIRTH_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}FICT_BIRTH_NUMBER</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Street" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/STREET
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}STREET</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="40"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="AddrNumber" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/ADDR_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}HOUSE_NUMBER</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="City" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CITY
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}CITY</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="30"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PostalCode" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/POSTAL_CODE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}POSTAL_CODE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="15"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="State" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/STATE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}STATE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="IdentificationAllowed">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/IDENTIFICATION_ALLOWED
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="NumberOfBranchProducts">
                                        <xsd:annotation>
                                          <xsd:documentation>Number of product if ELEMENT GIVE_NUM_OF_PRODUCT in request is A, ale 0.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/NUMBER_OF_BRANCH_PRODUCTS
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="CliInstance" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="CliInstanceRow" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:annotation>
                                                <xsd:documentation>Return only if ELEMENT GIVE_CLIENT_INSTANCES in request is A
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}CLI_INSTANCE</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="IdCmdClientInstancePk">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/ID_CMD_CLIENT_INSTANCE_PK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}ID_CMD_CLIENT_INSTANCE_PK</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="ClientNumber">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/CLIENT_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}CLIENT_NUMBER</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="40"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="BankSystem">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/BANK_SYSTEM
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}BANK_SYSTEM</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="OrgUnitId" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/ORG_UNIT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}ORG_UNIT_ID</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="SegmentId" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/SEGMENT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}SEGMENT_ID</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="ProfitCenter" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/PROFIT_CENTER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}PROFIT_CENTER</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Hrp" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/HRP
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_AMLSCORING_V1}HRP</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PbaType" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PBA_TYPE
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_CHAR</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PortfolioOrgUnit" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PORTFOLIO_ORG_UNIT
Element simple type: {http://xmlns.kbc.com/CLD/CMA/CMA_PORTFOLIO_V1}PORTFOLIO_ORG_UNIT</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="FamilyStatus" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/FAMILY_STATUS
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}FAMILY_STATUS</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="BlsStatus" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/BLS_STATUS
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EXTERNAL_DATA_V1}BLS_STATUS</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="BlsTypeOfReason" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/BLS_TYPE_OF_REASON
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EXTERNAL_DATA_V1}BLS_TYPE_OF_REASON</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="StatusOfPerson" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/STATUS_OF_PERSON
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PERSON_V1}STATUS_OF_PERSON</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="OrgUnitId" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Organization unit, where client was created.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/ORG_UNIT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}ORG_UNIT_ID</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Employee" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="EmployeeRow" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:annotation>
                                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="IdCmdEmployeePk">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW/ID_CMD_EMPLOYEE_PK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EMPLOYEE_V1}ID_CMD_EMPLOYEE_PK</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="EmployeeNumber">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW/EMPLOYEE_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EMPLOYEE_V1}EMPLOYEE_NUMBER</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="10"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="EmployeeCompanyCode">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW/EMPLOYEE_COMPANY_CODE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EMPLOYEE_V1}EMPLOYEE_COMPANY_CODE</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="HiringDate" type="xsd:date">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW/HIRING_DATE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EMPLOYEE_V1}HIRING_DATE</xsd:documentation>
                                                    </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element name="LeavingDate" type="xsd:date" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW/LEAVING_DATE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EMPLOYEE_V1}LEAVING_DATE</xsd:documentation>
                                                    </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element name="EmployeeCode" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/EMPLOYEE/EMPLOYEE_ROW/EMPLOYEE_CODE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EMPLOYEE_V1}EMPLOYEE_CODE</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="PalapInfo" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Informations from Palap cache. Element is always returned if request contains "A" in GIVE_PALAP_INFO element.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PALAP_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}PALAP_INFO</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="IsUpToDate">
                                              <xsd:annotation>
                                                <xsd:documentation>Flag - is Palap cache up to date? 2 - don't use cache, always call Palap,  1 - compare yours brand and brands from cache
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PALAP_INFO/IS_UP_TO_DATE
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_CST52_YES_NO</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:enumeration value="1"/>
                                                  <xsd:enumeration value="2"/>
                                                  <xsd:totalDigits value="1"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="BrandsWithLimits" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>List of brands. Contains only brands for which client has pre approved limits.  Element is not returned - client has not pre approved limits for all brands.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PALAP_INFO/BRANDS_WITH_LIMITS
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="BrandId" minOccurs="1" maxOccurs="200">
                                                    <xsd:annotation>
                                                      <xsd:documentation>Brand, dataid from CST 229
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PALAP_INFO/BRANDS_WITH_LIMITS/BRAND_ID
Element simple type: {http://xmlns.kbc.com/CLD/CST_CMDB/CST_0229_UQ_V1}DATAID</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="AccountsInfo" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Information added in Account projects. Element is returned if request contains "A" in GIVE_ACCOUNTS_INFO element.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/ACCOUNTS_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}ACCOUNTS_INFO_PERSON</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="FopSegment" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>DataId CST2 #42, only for FOP and CSOB CZ, segment serves a client (FOP)
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/ACCOUNTS_INFO/FOP_SEGMENT
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}FOP_MACROSEGMENT_CSOB_CZ</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="Segmentation" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>Segmentation from PMT
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/ACCOUNTS_INFO/SEGMENTATION
Element simple type: {http://xmlns.kbc.com/CLD/PMT/PMT_PARTY_DATA_V1}SEGMENTATION</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="10"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="FatcaInfo" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Information added in Fatca project. Element is returned if request contains "A" in GIVE_FATCA_INFO element.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/FATCA_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}FATCA_INFO</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="FatcaProcessStatus">
                                              <xsd:annotation>
                                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/FATCA_INFO/FATCA_PROCESS_STATUS
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_FATCA_V1}FATCA_PROCESS_STATUS</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="FatcaLabel">
                                              <xsd:annotation>
                                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/FATCA_INFO/FATCA_LABEL
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_FATCA_V1}FATCA_LABEL</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Pep" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/PERSON/PERSON_ROW/PEP
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_AMLSCORING_V1}PEP</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Company" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="CompanyRow" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:annotation>
                                    <xsd:documentation>Depend on value of MAX_RESULT_COUNT in request.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}COMPANY</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="IdCmdPartyPk">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ID_CMD_PARTY_PK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}ID_CMD_PARTY_PK</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="TypeOfParty">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/TYPE_OF_PARTY
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}TYPE_OF_PARTY</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="FullRegistration">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/FULL_REGISTRATION
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}FULL_REGISTRATION</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="StateNational" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/STATE_NATIONAL
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}STATE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="TypeOfOrganisation">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/TYPE_OF_ORGANISATION
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}TYPE_OF_ORGANISATION</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="NameOfCompanyLong">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/NAME_OF_COMPANY_LONG
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}NAME_OF_COMPANY_LONG</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="40"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="FictIdNumber" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/FICT_ID_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}FICT_ID_NUMBER</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/DATE_OF_BIRTH
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}DATE_OF_BIRTH</xsd:documentation>
                                        </xsd:annotation>
                                      </xsd:element>
                                      <xsd:element name="Street" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/STREET
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}STREET</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="40"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="AddrNumber" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ADDR_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}HOUSE_NUMBER</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="City" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CITY
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}CITY</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="30"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PostalCode" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/POSTAL_CODE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}POSTAL_CODE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="15"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="State" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/STATE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ADDRESS_UQ_V1}STATE</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="IdentificationAllowed">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/IDENTIFICATION_ALLOWED
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_A_N</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="NumberOfBranchProducts">
                                        <xsd:annotation>
                                          <xsd:documentation>Number of product if ELEMENT GIVE_NUM_OF_PRODUCT in request is A, ale 0.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/NUMBER_OF_BRANCH_PRODUCTS
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_NUMBER</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="CliInstance" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="CliInstanceRow" minOccurs="0" maxOccurs="unbounded">
                                              <xsd:annotation>
                                                <xsd:documentation>Return only if ELEMENT GIVE_CLIENT_INSTANCES in request is A
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}CLI_INSTANCE</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="IdCmdClientInstancePk">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/ID_CMD_CLIENT_INSTANCE_PK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}ID_CMD_CLIENT_INSTANCE_PK</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="ClientNumber">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/CLIENT_NUMBER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}CLIENT_NUMBER</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="40"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="BankSystem">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/BANK_SYSTEM
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}BANK_SYSTEM</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="OrgUnitId" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/ORG_UNIT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}ORG_UNIT_ID</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="SegmentId" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/SEGMENT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}SEGMENT_ID</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                  <xsd:element name="ProfitCenter" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                      <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/CLI_INSTANCE/CLI_INSTANCE_ROW/PROFIT_CENTER
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_CLIENT_INSTANCE_V1}PROFIT_CENTER</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Hrp" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/HRP
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_AMLSCORING_V1}HRP</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PbaType" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PBA_TYPE
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_CHAR</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PortfolioOrgUnit" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PORTFOLIO_ORG_UNIT
Element simple type: {http://xmlns.kbc.com/CLD/CMA/CMA_PORTFOLIO_V1}PORTFOLIO_ORG_UNIT</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Swift" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/SWIFT
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}SWIFT</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="11"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="Bank">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/BANK
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}BANK</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="BlsStatus" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/BLS_STATUS
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EXTERNAL_DATA_V1}BLS_STATUS</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="BlsTypeOfReason" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/BLS_TYPE_OF_REASON
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_EXTERNAL_DATA_V1}BLS_TYPE_OF_REASON</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="10"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="OrgUnitId" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Organization unit, where client was created.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ORG_UNIT_ID
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_PARTY_V1}ORG_UNIT_ID</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:integer">
                                            <xsd:totalDigits value="38"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PalapInfo" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Informations from Palap cache. Element is always returned if request contains "A" in GIVE_PALAP_INFO element.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PALAP_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}PALAP_INFO</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="IsUpToDate">
                                              <xsd:annotation>
                                                <xsd:documentation>Flag - is Palap cache up to date? 2 - don't use cache, always call Palap,  1 - compare yours brand and brands from cache
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PALAP_INFO/IS_UP_TO_DATE
Element simple type: {http://xmlns.kbc.com/CLD/COMMON_V1}CT_CST52_YES_NO</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:enumeration value="1"/>
                                                  <xsd:enumeration value="2"/>
                                                  <xsd:totalDigits value="1"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="BrandsWithLimits" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>List of brands. Contains only brands for which client has pre approved limits.  Element is not returned - client has not pre approved limits for all brands.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PALAP_INFO/BRANDS_WITH_LIMITS
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}Local complex type</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="BrandId" minOccurs="1" maxOccurs="200">
                                                    <xsd:annotation>
                                                      <xsd:documentation>Brand, dataid from CST 229
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PALAP_INFO/BRANDS_WITH_LIMITS/BRAND_ID
Element simple type: {http://xmlns.kbc.com/CLD/CST_CMDB/CST_0229_UQ_V1}DATAID</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:simpleType>
                                                      <xsd:restriction base="xsd:integer">
                                                        <xsd:totalDigits value="38"/>
                                                      </xsd:restriction>
                                                    </xsd:simpleType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="AccountsInfo" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Information added in Account projects. Element is returned if request contains "A" in GIVE_ACCOUNTS_INFO element.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ACCOUNTS_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}ACCOUNTS_INFO_COMPANY</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="JuridicalForm" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>Identification of juridical form. Value for CR : from CST2 #7, for SK: from CST2 #8
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ACCOUNTS_INFO/JURIDICAL_FORM
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ECON_INFO_COMP_V1}JURIDICAL_FORM</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="InstitutionType" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>Type of institution. Value for CR : from CST2 #275, for SK: from CST2 #276
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ACCOUNTS_INFO/INSTITUTION_TYPE
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_ECON_INFO_COMP_V1}INSTITUTION_TYPE</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="FopSegment" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>DataId CST2 #42, only for FOP and CSOB CZ, segment serves a client (FOP)
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ACCOUNTS_INFO/FOP_SEGMENT
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_COMPANY_V1}FOP_MACROSEGMENT_CSOB_CZ</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="Segmentation" minOccurs="0" maxOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>Segmentation from PMT
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/ACCOUNTS_INFO/SEGMENTATION
Element simple type: {http://xmlns.kbc.com/CLD/PMT/PMT_PARTY_DATA_V1}SEGMENTATION</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="10"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="FatcaInfo" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>Information added in Fatca project. Element is returned if request contains "A" in GIVE_FATCA_INFO element.
---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/FATCA_INFO
Element complex type: {http://xmlns.kbc.com/CLD/SERVICES_THCI/GetClientRes_v2}FATCA_INFO</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="FatcaProcessStatus">
                                              <xsd:annotation>
                                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/FATCA_INFO/FATCA_PROCESS_STATUS
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_FATCA_V1}FATCA_PROCESS_STATUS</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="FatcaLabel">
                                              <xsd:annotation>
                                                <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/FATCA_INFO/FATCA_LABEL
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_FATCA_V1}FATCA_LABEL</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:integer">
                                                  <xsd:totalDigits value="38"/>
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Pep" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>---
Backend: CMD
Element path: /GetClientRes_v2/Data/RESULTSET/RESULT/COMPANY/COMPANY_ROW/PEP
Element simple type: {http://xmlns.kbc.com/CLD/CMDB/CMD_AMLSCORING_V1}PEP</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="A"/>
                                            <xsd:enumeration value="N"/>
                                            <xsd:maxLength value="1"/>
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>